.projects-container {
  display: flex;
  justify-content: center;
}

.projects-container-title {
}

.category-buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.category-buttons button {
  margin-right: 10px;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}

.category-buttons button.active {
  background-color: #333c2e;
  color: #ffffff;
  /* Lägg till andra stilar för aktiv knapp här om du vill */
}
