.contact-box {
  width: 50%;
  background-color: #333c2e;
  padding: 100px;
}

.big-contact-box {
  display: flex;
  flex-direction: row;
  background-color: #eeece2;
}

.contact-icons {
  display: flex;
}
