.header-img {
  width: 100%;
  object-fit: cover;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-container {
  width: 60%;
  padding: 100px;
  background-color: #eeece2;
  height: 550px;
}

.custom-header {
  font-size: 120px;
}

.contact-button {
  margin-top: 40px;
}

.header-container {
  background-color: #333c2e;
  width: 50%;
  padding: 100px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .text-container {
    padding: 20px;
    max-width: 60%;
    height: 400px;
  }

  .header-container {
    width: 100%;
    padding: 80px;
  }

  .custom-header {
    font-size: 60px;
  }
}
